[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
wheel = "*"
whitenoise = "*"
gunicorn = "*"
django-heroku = "*"
django-debug-toolbar = "*"
"psycopg2-binary" = "*"
"psycopg2" = "*"
pillow = "*"
python-decouple = "*"
"django-tinymce4-lite" = "*"
django-el-pagination = "*"
django-autoslug = "*"

[dev-packages]

[requires]
python_version = "3.7"
