{% load staticfiles %} 
{% load static %} 

<!DOCTYPE html>
<html lang="en">

<head>
{% block header %}
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <!-- Title -->
    {% block title %}
            <title>Troy Dixon Mastering</title>
    {% endblock title %}

    <!-- Favicon -->
    <link rel="icon" href=" {% static "img/core-img/favicon.ico" %} ">

    <!-- Stylesheet -->
    <link rel="stylesheet" href=" {% static "style.css" %}">
{% endblock header %}
</head>

<style type="text/css">
    html {
      scroll-behavior: smooth;
    }
  </style>

<body>

 <!-- ##### Hero Area Start ##### -->

 
   
    <!-- ##### Hero Area End ##### -->
    <!-- Preloader -->
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="lds-ellipsis">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>


    <!-- ##### Header Area Start ##### -->
    <header class="header-area">
        <!-- Navbar Area -->
        <div class="oneMusic-main-menu">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                    <!-- Menu -->
                    <nav class="classy-navbar justify-content-between" id="oneMusicNav">

                        <!-- Nav brand -->
                        
                        {% comment %} <a href="{% url 'home' %}" id="loginBtn"> <img width="50%" src="static/img/core-img/logo1.png " alt=""> </a>    {% endcomment %}

                      <a href="{% url 'home' %}"  id="loginBtn" class="#"><img width="50%" src = "static/img/bg-img/logo1.png" alt=""></a>   
                        
                        

                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        <!-- Menu -->
                        <div class="classy-menu">

                            <!-- Close Button -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>

                            <!-- Nav Start -->
                            <div class="classynav">
                                <ul>
                                <li><a  href="{% url 'home' %}" >Home </a></li>
                                    {% comment %} <li><a href="index.html">Home</a></li>
                                    <li><a  href="{% url 'blog' %}" >BLOG</a></li>
                                    <li><a href="#">Pages</a>
                                        <ul class="dropdown">
                                            <li><a href="index.html">Home</a></li>
                                            <li><a href="albums-store.html">Albums</a></li>
                                            <li><a href="event.html">Events</a></li>
                                            <li><a href="blog.html">News</a></li>
                                            <li><a href="contact.html">Contact</a></li>
                                            <li><a href="elements.html">Elements</a></li>
                                            <li><a href="login.html">Login</a></li>
                                            <li><a href="#">Dropdown</a>
                                                <ul class="dropdown">
                                                    <li><a href="#">Even Dropdown</a></li>
                                                    <li><a href="#">Even Dropdown</a></li>
                                                    <li><a href="#">Even Dropdown</a></li>
                                                    <li><a href="#">Even Dropdown</a>
                                                        <ul class="dropdown">
                                                            <li><a href="#">Deeply Dropdown</a></li>
                                                            <li><a href="#">Deeply Dropdown</a></li>
                                                            <li><a href="#">Deeply Dropdown</a></li>
                                                            <li><a href="#">Deeply Dropdown</a></li>
                                                            <li><a href="#">Deeply Dropdown</a></li>
                                                        </ul>
                                                    </li>
                                                    <li><a href="#">Even Dropdown</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li> {% endcomment %}
                                    <li><a href="{% url 'blog' %}" id="loginBtn">Blog</a></li>
                                     <li><a class="#" href="#module"  id="loginBtn">Contact</a></li> 
                                  {% comment %} <li><a class="scroll" href="#module" >Contact</a></li>  {% endcomment %}
                                </ul>

                                <!-- Login/Register & Cart Button -->
                                {% comment %} <div class="login-register-cart-button spinline">
                                    <!-- Login/Register -->
                                    <div class="login-register-btn mr-30">
                                    
                                        <a href="{% url 'home' %}" id="loginBtn"> Home  </a>
                                        <a href="{% url 'blog' %}" id="loginBtn"> Blog  </a>
                                        <a class="scroll" href="#module" title="Home"> Contact </a>
                                        
                                    </div> {% endcomment %}

                                    <!-- Cart Button -->
                                    <!-- <div class="cart-btn">
                                        <p><span class="icon-shopping-cart"></span> <span class="quantity">1</span></p>
                                    </div> -->
                                </div>
                            </div>
                            <!-- Nav End -->

                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>

                            {% if messages %}
						{% for message in messages %}
                                    <div class="notification ">
                                        <button class="delete"></button>
                                        {{ message }}
                                        </div>

							{% endfor %}
						{% endif %}
  


{% block content %}{% endblock content %} 

{% block footer %}{% endblock footer %} 

<scroll-container>
 <scroll-page id="module"></scroll-page>
    
    <!-- ##### Contact Area Start ##### -->
    <section class="contact-area section-padding-100 ">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading wow fadeInUp" data-wow-delay="100ms">
                        <p> Questions? Request a free mastering sample and discuss your project by using the form below!</p>
                        <h2>Get In Touch</h2>
                        <br>
                        <span>
                            <p> <i class="fas fa-phone"></i>  &nbsp; 615-285-9103 </p>
                            <p> <i class="fas fa-envelope"></i> &nbsp; tadwerk@gmail.com </p>
                        </span> 
                    </div>

                    
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <!-- Contact Form Area -->
                    <div class="contact-form-area">


                        <form action="." method="post">
                                {% csrf_token %}
                            <div class="row">
                                <div class="col-md-6 col-lg-4">
                                    <div class="form-group wow fadeInUp" data-wow-delay="100ms">
                                        <input type="text" class="form-control" name="name" id="name" placeholder="Name">
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-4">
                                    <div class="form-group wow fadeInUp" data-wow-delay="200ms">
                                        <input type="email" class="form-control" name="email" id="email" placeholder="E-mail">
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group wow fadeInUp" data-wow-delay="300ms">
                                        <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject">
                                    </div>
                                </div> 
                                <div class="col-12">
                                    <div class="form-group wow fadeInUp" data-wow-delay="400ms">
                                        <textarea name="message" class="form-control" name="message" id="message" cols="30" rows="10" placeholder="Message"></textarea>
                                    </div>
                                </div>
                                <div class="col-12 text-center wow fadeInUp" data-wow-delay="500ms">
                                    <button class="btn oneMusic-btn mt-30" type="submit">Send <i class="fa fa-angle-double-right"></i></button>
                                </div>
                            </div>
                        </form>


                    </div>
                </div>
            </div>
        </div>
    </section>
    </scroll-container>


     <!-- ##### Footer Area Start ##### -->
    <footer class="footer-area">
        <div class="container">
            <div class="row d-flex flex-wrap align-items-center">
                <div class="col-12 col-md-6">
                    <!-- <a href="#"><img src="static/img/core-img/logo1.png" alt=""></a> -->
                    <p class="#"><a href="#"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
{% comment %} Copyright &copy;<script>document.write(new Date().getFullYear());</script>  <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a> {% endcomment %}
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                </div>

                <div class="col-12 col-md-6">
                    <div class="footer-nav">
                        <ul>
                          
                            <li><a href="{% url 'home' %}">Home</a></li>
                            <li><a href="{% url 'blog' %}">Blog</a></li>
                            <li><a class="#" href="#module"  id="loginBtn">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- ##### Footer Area Start ##### -->

    <!-- ##### All Javascript Script ##### -->
    <!-- jQuery-2.2.4 js -->
    <script src= "{% static  "js/jquery/jquery-2.2.4.min.js" %}"></script>
    <!-- Popper js -->
    <script src= "{% static  "js/bootstrap/popper.min.js" %}"></script>
    <!-- Bootstrap js -->
    <script src= "{% static  "js/bootstrap/bootstrap.min.js" %}"></script>
    <!-- All Plugins js -->
    <script src= "{% static  "js/plugins/plugins.js" %}"></script>
    <!-- Active js -->
    <script src= "{% static  "js/active.js" %}"></script>
    <script src= "{% static  "js/main.js" %}"></script>
</body>

</html> 