{% extends 'base.html' %} 
{% load el_pagination_tags %}
{% block title %}
    {{ block.super }} 
{% endblock title %}



{% block content %}
    <!-- ##### Header Area End ##### -->

    <!-- ##### Breadcumb Area Start ##### -->
    <section class="breadcumb-area bg-img " style="background-image: url(https://static1.squarespace.com/static/5457a5dee4b0e274ee27d285/t/5bc78a480d9297d66e346928/1539804549581/Mixing.jpg)">
        <div class="bradcumbContent">
            {% comment %} <p>See what’s new</p> {% endcomment %}
            <h2>RECENTLY</h2>
        </div>
    </section>
    <!-- ##### Breadcumb Area End ##### -->
 
    <!-- ##### Blog Area Start ##### -->
    <div class="blog-area section-padding-100">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-9">

                    <!-- Single Post Start -->
                    {% paginate 3 post %}
                    {% for post in post %}
                    <div class="single-blog-post mb-100 wow fadeInUp" data-wow-delay="100ms">
                        <!-- Post Thumb -->
                        <div class="blog-post-thumb mt-30">
                            {% comment %} <a href="{% url 'blogpost' %}"><img  width='100%'src="https://www.bonnersmusic.co.uk/img/pro-audio-mixers-yamaha-mixers.jpg" alt=""></a> {% endcomment %}
                            <a href="{% url 'blogpost' %}"><img  width='100%' src="{{ post.image.url }}" alt=""></a>
                            <!-- Post Date -->
                            <div class="post-date">
                                <span> {{post.date}} </span>
                                <span> {{post.month}} ‘{{post.year}}</span>
                            </div>
                        </div>

                        <!-- Blog Content -->
                        <div class="blog-content">
                            <!-- Post Title -->
                            
                            <a href="#" class="post-title"> {{ post.title }} </a>
                            <!-- Post Meta -->
                           
                            <div class="post-meta d-flex mb-30">
                            
                                <p class="post-author">By<a href="#"> Troy Dixon </a></p>
                                <p class="tags">in<a href="#"> Recently </a></p>
                                
                            </div>
                            <!-- Post Excerpt -->
                            <p> {{post.content|safe|truncatewords:200  }} </p>
                           <a><p class="#">  Keep Reading   </p> </a>
                        </div>
                        
                    </div>
                    {% endfor %}

                    

                    <!-- deleted harcoded post  -->

                    <!-- Single Post Start -->
                    

                    <!-- Pagination -->
                    <div class="oneMusic-pagination-area wow fadeInUp" data-wow-delay="300ms">
                        <nav>
                            <ul class="spcenter">

                                    <h2> {% show_pages %} </h2> 
                                
                                
                            </ul>
                        </nav>
                    </div>
                </div>

                <div class="col-12 col-lg-3">
                    <div class="blog-sidebar-area">

                        <!-- Widget Area -->
                        <div class="single-widget-area mb-30">
                            <div class="widget-title">
                                <h5>Archive</h5>
                            </div>
                            <div class="widget-content">
                                <ul>
                                {% for post in post %}
                                        <li><a href="#">{{post.title}}</a></li>
                                {% endfor %}
                                </ul>
                            </div>
                        </div>
                        <h5>My Latest Projects</h5>

                        <!-- Widget Area -->
                        {% comment %} <div class="single-widget-area mb-30">
                            <div class="widget-title">
                                <h5>Featured</h5>
                            </div>
                           <div class="widget-content"> 
                            <div class="single-widget-area mb-30">
                            <a href="#"><img src="https://dannydiamond.ie/wp-content/uploads/SMC-300x300.jpg" alt=""></a>
                        </div> {% endcomment %}
                                {% comment %} <ul>
                                    <li><a href="#">February 2018</a></li>
                                    <li><a href="#">March 2018</a></li>
                                    <li><a href="#">April 2018</a></li>
                                    <li><a href="#">May 2018</a></li>
                                    <li><a href="#">June 2018</a></li>
                                </ul> {% endcomment %}
                            {% comment %} </div> 
                        </div> {% endcomment %}

                        <!-- Widget Area -->
                        {% comment %} <div class="single-widget-area mb-30">
                            <div class="widget-title">
                                <h5>Tags</h5>
                            </div>
                            <div class="widget-content">
                                <ul class="tags">
                                    <li><a href="#">music</a></li>
                                    <li><a href="#">events</a></li>
                                    <li><a href="#">artists</a></li>
                                    <li><a href="#">press</a></li>
                                    <li><a href="#">mp3</a></li>
                                    <li><a href="#">videos</a></li>
                                    <li><a href="#">concerts</a></li>
                                    <li><a href="#">performers</a></li>
                                </ul>
                            </div>
                        </div> {% endcomment %}

                        <!-- Widget Area -->
                        <div class="single-widget-area mb-30">
                            <a href="#"><img src="https://dannydiamond.ie/wp-content/uploads/SMC-300x300.jpg" alt=""></a>
                        </div>

                        <!-- Widget Area -->
                        <div class="single-widget-area mb-30">
                            <a href="#"><img src="https://99designs-blog.imgix.net/blog/wp-content/uploads/2017/12/attachment_68585523.jpg?auto=format&q=60&fit=max&w=930" alt=""></a>
                        </div>

                        <div class="single-widget-area mb-30">
                            <a href="#"><img src="http://papers.co/wallpaper/papers.co-am19-tycho-art-music-album-cover-illust-simple-white-40-wallpaper.jpg?download=true" alt=""></a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Blog Area End ##### -->

    {% comment %} <!-- ##### Contact Area Start ##### -->
    <section class="contact-area section-padding-100 bg-img bg-overlay bg-fixed has-bg-img" style="background-image: url(static/img/bg-img/bg-2.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading white">
                        <p>See what’s new</p>
                        <h2>Get In Touch</h2>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <!-- Contact Form Area -->
                    <div class="contact-form-area">
                        <form action="#" method="post">
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="name" placeholder="Name">
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <input type="email" class="form-control" id="email" placeholder="E-mail">
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="subject" placeholder="Subject">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <textarea name="message" class="form-control" id="message" cols="30" rows="10" placeholder="Message"></textarea>
                                    </div>
                                </div>
                                <div class="col-12 text-center">
                                    <button class="btn oneMusic-btn mt-30" type="submit">Send <i class="fa fa-angle-double-right"></i></button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Contact Area End ##### --> {% endcomment %}
{% endblock content %}

