{% load staticfiles %} 
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <!-- Title -->
    <title>Troy Dixon Mastering</title>

    <!-- Favicon -->
    <link rel="icon" href=" {% static "img/core-img/favicon.ico" %} ">

    <!-- Stylesheet -->
    <link rel="stylesheet" href=" {% static "style.css" %}">

</head>

<body>
    <!-- Preloader -->
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="lds-ellipsis">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>

    <!-- ##### Header Area Start ##### -->
    <header class="header-area">
        <!-- Navbar Area -->
        <div class="oneMusic-main-menu">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                    <!-- Menu -->
                    <nav class="classy-navbar justify-content-between" id="oneMusicNav">

                        <!-- Nav brand -->
                        <a href="index.html" class="#"><img width="50%" src="static/img/core-img/logo1.png" alt=""></a>
                        
                        

                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        <!-- Menu -->
                        <div class="classy-menu">

                            <!-- Close Button -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>

                            <!-- Nav Start -->
                            <div class="classynav">
                                <!-- <ul>
                                    <li><a href="index.html">Home</a></li>
                                    <li><a  href="{% url 'blog' %}" >BLOG</a></li>
                                    <li><a href="#">Pages</a>
                                        <ul class="dropdown">
                                            <li><a href="index.html">Home</a></li>
                                            <li><a href="albums-store.html">Albums</a></li>
                                            <li><a href="event.html">Events</a></li>
                                            <li><a href="blog.html">News</a></li>
                                            <li><a href="contact.html">Contact</a></li>
                                            <li><a href="elements.html">Elements</a></li>
                                            <li><a href="login.html">Login</a></li>
                                            <li><a href="#">Dropdown</a>
                                                <ul class="dropdown">
                                                    <li><a href="#">Even Dropdown</a></li>
                                                    <li><a href="#">Even Dropdown</a></li>
                                                    <li><a href="#">Even Dropdown</a></li>
                                                    <li><a href="#">Even Dropdown</a>
                                                        <ul class="dropdown">
                                                            <li><a href="#">Deeply Dropdown</a></li>
                                                            <li><a href="#">Deeply Dropdown</a></li>
                                                            <li><a href="#">Deeply Dropdown</a></li>
                                                            <li><a href="#">Deeply Dropdown</a></li>
                                                            <li><a href="#">Deeply Dropdown</a></li>
                                                        </ul>
                                                    </li>
                                                    <li><a href="#">Even Dropdown</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li><a href="event.html">Events</a></li>
                                    <li><a href="blog.html">News</a></li>
                                    <li><a href="contact.html">Contact</a></li>
                                </ul> -->

                                <!-- Login/Register & Cart Button -->
                                <div class="login-register-cart-button d-flex align-items-center">
                                    <!-- Login/Register -->
                                    <div class="login-register-btn mr-50">
                                        <a href="login.html" id="loginBtn"> Home &nbsp;&nbsp;&nbsp; </a>
                                       
                                        <a href="{% url 'blog' %}" id="loginBtn"> Blog &nbsp;&nbsp;&nbsp;</a>
                                        <a href="login.html" id="loginBtn"> Contact &nbsp;&nbsp;&nbsp;</a>
                                    </div>

                                    <!-- Cart Button -->
                                    <!-- <div class="cart-btn">
                                        <p><span class="icon-shopping-cart"></span> <span class="quantity">1</span></p>
                                    </div> -->
                                </div>
                            </div>
                            <!-- Nav End -->

                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ##### Header Area End ##### -->

    <!-- ##### Hero Area Start ##### -->
    <section class="breadcumb-area bg-img bg-overlay" style="background-image: url(https://soma.edu.sg/wp-content/uploads/2017/05/Electronic-Music-Production1.jpg);">
        
    </section>
    <!-- ##### Hero Area End ##### -->


      <!-- ##### Miscellaneous Area Start ##### -->
      <section class="miscellaneous-area section-padding-150-0">
            <div class="container">
                <div class="row">
                    <!-- ***** Weeks Top ***** -->
                    <div class="col-12 col-lg-7 ">
                            
                        <div class=" mb-100 ">
                            
                            <div class="spinline section-heading text-left mb-50 wow fadeInUp" data-wow-delay="50ms">
                                    
                                <br>
                                <br>
                                <h2 class="#">Troy Dixon Mastering </h2>
                                <p class="#####">East Nashville Mastering at an excellent valiue and price </p>
                                <br>
                                
                                        
                                <!-- <p class="spinline">We feel that our services are the best around, but experience and creativity is also essential when working as an audio engineer. Our chief engineer has been playing, engineering, producing, and mastering audio for over 18 years. His attention to detail and passion for audio fidelity is evident in every project. Whether in our local studio or online, our clients are included in every step of their project. Read more about our engineers.</p> -->
                                <div class="#"> 
                                        <img class="spinline" width="200px"src="static/img/bg-img/b4.jpg" alt="">    
                                        <h4 class="#">About </h4>    
                                <h3 class="#">We feel that our services are the best around, but experience and creativity is also essential when working as an audio engineer. 
                                    Our chief engineer has been playing, engineering, producing, 
                                    and mastering audio for over 18 years.Our chief engineer has been playing, engineering, 
                                    producing, and mastering audio for over 18 years. creativity is also essential 
                                    when working as an audio engineer. Our chief engineer has been playing, engineering, 
                                    producing, and mastering audio for over 18 years.Our chief engineer has been playing, engineering, producing, a
                                    nd mastering audio for over 18 years when working as an audio engineer. Our chief engineer has been playing, engineering, 
                                    producing, and mastering audio for over 18 years.Our chief engineer has been playing, engineering, producing, a
                                    nd mastering audio for over 18 year audio for over 18 years.Our chief engineer has been playing, engineering, producing, a
                                    nd mastering audio for over 18 year</h3>
                                <!-- <h4 class="#">The Space </h4>  
                                <h3 class="#">We feel that our services are the best around, but experience and creativity is also essential when working as an audio engineer. Our chief engineer has been playing, engineering, producing, and mastering audio for over 18 years. but experience and creativity is also essential when working as an audio engineer. Our chief engineer has been playing, engineering, producing, and mastering audio for over 18 years</h3> -->
                            </div>  
                            </div>
    
                           
    
                        </div>
                    </div>
    
                    <!-- ***** New Hits Songs ***** -->
                    <br>
                    <br>
                    <div class="sppad1 col-12 col-lg-5">
                        <div class="new-hits-area mb-20">
                            <div class=" text-left mb-10 wow fadeInUp" data-wow-delay="50ms">
                                <!-- <p>See what’s new</p> -->
                                <h3>Featured Artists</h3>
                            </div>
    
                            <!-- Single Top Item -->
                            <div class="single-new-item d-flex align-items-center justify-content-between wow fadeInUp" data-wow-delay="100ms">
                                <div class="first-part d-flex align-items-center">
                                    <div class="thumbnail">
                                        <img src="static/img/bg-img/wt7.jpg" alt="">
                                    </div>
                                    <div class="content-">
                                        <h6>Sam Smith</h6>
                                        <p>Underground</p>
                                    </div>
                                </div>
                                <audio preload="auto" controls>
                                    <source src="static/audio/gasworks-mix.wav">
                                        
                                </audio>
                                <audio preload="auto" controls>
                                        <source src="static/audio/gasworks-mix.wav">
                                            
                                    </audio>
                            </div>
    
                            <!-- Single Top Item -->
                            <div class="single-new-item d-flex align-items-center justify-content-between wow fadeInUp" data-wow-delay="150ms">
                                <div class="first-part d-flex align-items-center">
                                    <div class="thumbnail">
                                        <img src="static/img/bg-img/wt8.jpg" alt="">
                                    </div>
                                    <div class="content-">
                                        <h6>Power Play</h6>
                                        <p>In my mind</p>
                                    </div>
                                </div>
                                <audio preload="auto" controls>
                                    <source src="audio/dummy-audio.mp3">
                                </audio>
                            </div>
    
                            <!-- Single Top Item -->
                            <div class="single-new-item d-flex align-items-center justify-content-between wow fadeInUp" data-wow-delay="200ms">
                                <div class="first-part d-flex align-items-center">
                                    <div class="thumbnail">
                                        <img src="static/img/bg-img/wt9.jpg" alt="">
                                    </div>
                                    <div class="content-">
                                        <h6>Cristinne Smith</h6>
                                        <p>My Music</p>
                                    </div>
                                </div>
                                <audio preload="auto" controls>
                                    <source src="audio/dummy-audio.mp3">
                                </audio>
                            </div>
    
                            <!-- Single Top Item -->
                            <div class="single-new-item d-flex align-items-center justify-content-between wow fadeInUp" data-wow-delay="250ms">
                                <div class="first-part d-flex align-items-center">
                                    <div class="thumbnail">
                                        <img src="static/img/bg-img/wt10.jpg" alt="">
                                    </div>
                                    <div class="content-">
                                        <h6>The Music Band</h6>
                                        <p>Underground</p>
                                    </div>
                                </div>
                                <audio preload="auto" controls>
                                    <source src="audio/dummy-audio.mp3">
                                </audio>
                            </div>
    
                            <!-- Single Top Item -->
                            <div class="single-new-item d-flex align-items-center justify-content-between wow fadeInUp" data-wow-delay="300ms">
                                <div class="first-part d-flex align-items-center">
                                    <div class="thumbnail">
                                        <img src="static/img/bg-img/wt11.jpg" alt="">
                                    </div>
                                    <div class="content-">
                                        <h6>Creative Lyrics</h6>
                                        <p>Songs and stuff</p>
                                    </div>
                                </div>
                                <audio preload="auto" controls>
                                    <source src="audio/dummy-audio.mp3">
                                </audio>
                            </div>
                           
                           <p><a> <i   class="fab fa-spotify "></i> See my mastering collection on Spotify</a></p>
    
                            <!-- Single Top Item -->
                            <!-- <div class="single-new-item d-flex align-items-center justify-content-between wow fadeInUp" data-wow-delay="350ms">
                                <div class="first-part d-flex align-items-center">
                                    <div class="thumbnail">
                                        <img src="static/img/bg-img/wt12.jpg" alt="">
                                    </div>
                                    <div class="content-">
                                        <h6>The Culture</h6>
                                        <p>Pop Songs</p>
                                    </div>
                                </div>
                                <audio preload="auto" controls>
                                    <source src="audio/dummy-audio.mp3">
                                </audio>
                            </div> -->
                        </div>
                    </div>
    
                    
                </div>
            </div>
        </section>
        <!-- ##### Miscellaneous Area End ##### -->

  <!-- ##### Featured Artist Area Start ##### -->
  <section class="featured-artist-area section-padding-100 bg-img bg-overlay bg-fixed" style="background-image: url(https://www.capitolstudios.com/wp-content/uploads/2015/05/B_6_1200x500.jpg);">
    <div class="container">
        <div class="row align-items-end">
            <div class="col-12 col-md-5 col-lg-4">
                <div class="featured-artist-thumb">
                    <img src="https://images.unsplash.com/photo-1512053459797-38c3a066cabd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="">
                </div>
            </div>
            <div class="col-12 col-md-7 col-lg-8">
                <div class="featured-artist-content">
                    <!-- Section Heading -->
                    <div class="section-heading white text-left mb-30">
                        
                        <h2>The Space </h2>
                    </div>

                    <p>Nam tristique ex vel magna tincidunt, ut porta nisl finibus. Vivamus eu dolor eu quam varius rutrum. Fusce nec justo id sem aliquam fringilla nec non lacus. Suspendisse eget lobortis nisi, ac cursus odio. Vivamus nibh velit, rutrum at ipsum ac, dignissim iaculis ante. Donec in velit non elit pulvinar pellentesque et non eros. Vivamus eu dolor eu quam varius rutrum. Fusce nec justo id sem aliquam fringilla nec non lacus. Suspendisse eget lobortis nisi, ac cursus odio. Vivamus nibh velit, rutrum at ipsum ac, dignissim iaculis ante. Donec in velit non elit pulvinar pellentesque et non eros</p>
                    
                </div>
            </div>
        </div>
        <br>
        <div class="row align-items-end">
                <div class="col-12 col-md-5 col-lg-4">
                    <div class="featured-artist-thumb">
                        <img src="https://images.unsplash.com/photo-1535406208535-1429839cfd13?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1055&q=80" alt="">
                    </div>
                </div>
                <div class="col-12 col-md-7 col-lg-8">
                    <div class="featured-artist-content">
                        <!-- Section Heading -->
                        <div class="section-heading white text-left mb-30">
                            
                            <h2>The Gear </h2>
                        </div>
                        <p>Nam tristique ex vel magna tincidunt, ut porta nisl finibus. Vivamus eu dolor eu quam varius rutrum. Fusce nec justo id sem aliquam fringilla nec non lacus. Suspendisse eget lobortis nisi, ac cursus odio. Vivamus nibh velit, rutrum at ipsum ac, dignissim iaculis ante. Donec in velit non elit pulvinar pellentesque et non eros. Vivamus eu dolor eu quam varius rutrum. Fusce nec justo id sem aliquam fringilla nec non lacus. Suspendisse eget lobortis nisi, ac cursus odio. Vivamus nibh velit, rutrum at ipsum ac, dignissim iaculis ante. Donec in velit non elit pulvinar pellentesque et non eros</p>
                        
                    </div>
                </div>
            </div>
    </div>
</section>















    
    <!-- ##### Contact Area Start ##### -->
    <section class="contact-area section-padding-100 " ">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading wow fadeInUp" data-wow-delay="100ms">
                        <p> have any questions or specific needs? I work with all kinds of styles and would love to talk to you more about how my skills might benefit your specific project!</p>
                        <h2>Get In Touch</h2>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <!-- Contact Form Area -->
                    <div class="contact-form-area">
                        <form action="#" method="post">
                            <div class="row">
                                <div class="col-md-6 col-lg-4">
                                    <div class="form-group wow fadeInUp" data-wow-delay="100ms">
                                        <input type="text" class="form-control" id="name" placeholder="Name">
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-4">
                                    <div class="form-group wow fadeInUp" data-wow-delay="200ms">
                                        <input type="email" class="form-control" id="email" placeholder="E-mail">
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group wow fadeInUp" data-wow-delay="300ms">
                                        <input type="text" class="form-control" id="subject" placeholder="Subject">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group wow fadeInUp" data-wow-delay="400ms">
                                        <textarea name="message" class="form-control" id="message" cols="30" rows="10" placeholder="Message"></textarea>
                                    </div>
                                </div>
                                <div class="col-12 text-center wow fadeInUp" data-wow-delay="500ms">
                                    <button class="btn oneMusic-btn mt-30" type="submit">Send <i class="fa fa-angle-double-right"></i></button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Contact Area End ##### -->

    <!-- ##### Footer Area Start ##### -->
    <footer class="footer-area">
        <div class="container">
            <div class="row d-flex flex-wrap align-items-center">
                <div class="col-12 col-md-6">
                    <!-- <a href="#"><img src="static/img/core-img/logo1.png" alt=""></a> -->
                    <p class="copywrite-text"><a href="#"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script>  <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                </div>

                <div class="col-12 col-md-6">
                    <div class="footer-nav">
                        <ul>
                          
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- ##### Footer Area Start ##### -->

    <!-- ##### All Javascript Script ##### -->
    <!-- jQuery-2.2.4 js -->
    <script src= "{% static  "js/jquery/jquery-2.2.4.min.js" %}"></script>
    <!-- Popper js -->
    <script src= "{% static  "js/bootstrap/popper.min.js" %}"></script>
    <!-- Bootstrap js -->
    <script src= "{% static  "js/bootstrap/bootstrap.min.js" %}"></script>
    <!-- All Plugins js -->
    <script src= "{% static  "js/plugins/plugins.js" %}"></script>
    <!-- Active js -->
    <script src= "{% static  "js/active.js" %}"></script>
</body>

</html>